[submodule "DuckDB"]
	path = DuckDB
	url = https://github.com/duckdb/duckdb
[submodule "SQLite"]
	path = SQLite
	url = https://github.com/sqlite/sqlite.git
[submodule "PostgreSQL"]
	path = PostgreSQL
	url = https://github.com/postgres/postgres.git
[submodule "MariaDB"]
	path = MariaDB
	url = https://github.com/MariaDB/server.git
